<div class="form-group">
  <button (click)="readCats()" type="button" class="btn btn-primary">Read Cats</button>
</div>

<div class="form-group" *ngIf="catList.length">

  <h2>Female</h2>
  <ul>
    <li  *ngFor="let cat of femaleCatList">
      {{cat.name}}
    </li>
  </ul>

  <h2>Male</h2>
  <ul>
    <li *ngFor="let cat of maleCatList">
      {{cat.name}}
    </li>
  </ul>
</div>
